@import "tailwindcss";

@import "../header/main.css";
@plugin "daisyui";
@layer bg {
  .bgcolor1 {
    background-color: #323232;
  }
  .bgcolor2 {
    background-color: #494a4b;
  }
  .bgcolor3 {
    background-color: #e6e5ea;
  }
  .bgcolor-btn {
    background-color: #fab900;
  }
}
@layer category {
  .mycategory img {
    @apply w-[291px];
  }
}
@layer brandtitle {
  .mybrand h3 {
    @apply text-center font-[anjomanmedium] font-[700] text-[16px];
  }
  .mybrand img {
    @apply w-[91.55px];
  }
}
@theme {
  --breakpoint-mobile: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-wide: 1535px;
}

:root {
  --bgcolor-1: #494a4b;
  --bgcolor-2: #323232;
  --bgcolor-3: #e6e5ea;
  --bgcolor-button: #fab900;
}
body {
  font-family: "Anjoman";
  background-color: #f8f8f8;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: " ";
  font-size: 14px !important;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
}
.myslider img {
  height: 100% !important;
  object-fit: cover;
}
.blogs-section {
  .tabs {
    justify-content: center;
    gap: 10px;
  }
  .tab {
    /* right: 40%; */
    /* margin: 0px auto; */
    bottom: -20px;
    height: auto;
    width: 130px;
    padding: 6px 0px;
    border: 1px solid lightgray;
    border-radius: 6px;
  }
}
